name: Build and upload Nuget

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Intall dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10

      - name: Get Dart Sass
        run: ./getDartSassExecutables.ps1
        shell: pwsh

      - name: Pack
        run: dotnet pack ./src/DartSass.sln -o ./nuget -c Release
        continue-on-error: true

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }} 

      - name: Upload
        run: dotnet nuget push "./nuget/*" -k ${{ steps.login.outputs.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
